.pizza-card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5%;
  padding: 20px;
  margin: 15px;
  height: 400px;
  width: 300px;
  background-color: white;
}

.pizza-image {
  height: 150px;
  margin: auto;
}

.pizza-names {
  height: 30px;
  margin-bottom: 25px;
}

.small-text {
  font-size: 14px;
  height: 75px;
  width: 275px;
  text-align: center;
}

.card-price {
  text-align: right;
}

.pizza-button {
  background-color: blue;
  color: white;
  font-size: xx-large;
  width: 300px;
  height: 40px;
  text-align: center;
}
