.pizza-card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5%;
  padding: 20px;
  margin: 15px;
  height: 400px;
  width: 300px;
  background-color: white;
}

.pizza-image {
  height: 150px;
  margin: auto;
}

.pizza-names {
  height: 30px;
  margin-bottom: 25px;
}

.small-text {
  font-size: 15;
  height: 75px;
}

.card-price {
  text-align: right;
}

.pizza-button {
  width: 120%;
  padding: 0px;
}